.attribution {
    font-size: 10px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 10;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
.qrcode,
.attribution {
    font-family: Outfit;
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
.qrcode {
    background-color: hsl(0, 0%, 100%);
    border-radius: 13px;
    padding: 10px 10px;
    justify-self: center;
}
.thick {
    font-weight: 700;
    font-size: 17px;
}
.not-thick {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
